<div class="row">
    <div class="col-sm-6">
        <div class="testimonial">
            <div class="testimonial-image">
                <img src="assets/img/tmp/agent-1.jpg" alt="">
            </div><!-- /.testimonial-image -->
            {% for c in provider.comments %}
                <div class="testimonial-inner">
                    <div class="testimonial-title">
                        <h2>{{ c.title }}</h2>

                        <div class="testimonial-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div><!-- /.testimonial-rating -->
                    </div><!-- /.testimonial-title -->

                   {{ c.content }}

                    <div class="testimonial-sign">- Fiona Wilson</div><!-- /.testimonial-sign -->
                </div><!-- /.testimonial-inner -->
            {% endfor %}
        </div><!-- /.testimonial -->
    </div>
</div>