{# AFFICHE LA LISTE DES PROMOTIONS A PARTIR DE LA NAVIGATION #}
{% extends 'default/layout.html.twig' %}
{% block content %}
    <div class="page-header" style="margin-top:0">
        <h2>Promotions</h2>
        <p>Ci-dessous la liste des promotions offertes par nos prestataires. <br/>Cliquez sur la promo désirée en connaître les détails</p>
    </div><!-- /.page-header -->
<div class="container">
    {% include 'promotions/list.html.twig' %}
</div>

{% endblock %}