
<div class="page-wrapper">
<header class="header">
        <div class="header-wrapper">
            <div class="container">
                <div class="header-inner">
                    <div class="header-logo">
                        <a href={{path('homepage')}}>
                            <img src={{asset("assets/img/logo.png")}} alt="Logo">
                            <span>Bien-être</span>
                        </a>
                    </div><!-- /.header-logo -->

                    <div class="header-content">
                        <div class="header-top">
                            <div class="header-search">
                                <input type="text" class="form-control" placeholder="Search for...">
                            </div><!-- /.header-search -->

                            <ul class="header-nav-secondary nav nav-pills">
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Register</a></li>
                            </ul>
                        </div><!-- /.header-top -->

                        <div class="header-bottom">

                            <ul class="header-nav-primary nav nav-pills collapse navbar-collapse">
                                <li class="active">
                                    <a href="#">Home <i class="fa fa-chevron-down"></i></a>

                                    <ul class="sub-menu">
                                        <li><a href="/">#</a></li>
                                       </ul>
                                </li>

                                <li >
                                    <a href="#">menu2 <i class="fa fa-chevron-down"></i></a>

                                    <ul class="sub-menu">
                                        <li><a href="#">sub-menu2</a></li>

                                    </ul>
                                </li>

                                <li class="has-mega-menu ">
                                    <a href="#">menu3 <i class="fa fa-chevron-down"></i></a>

                                    <ul class="mega-menu">
                                        <li>
                                            <a href="#">submenu</a>

                                            <ul>
                                                <a><a href="1">link</a></li>

                                            </ul>
                                        </li>

                                        <li>
                                            <a href="#">submenu</a>

                                            <ul>
                                                <li><a href="#">link</a></li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="#">submenu</a>

                                            <ul>
                                                <li><a href="#">link</a></li>
                                                 </ul>
                                        </li>

                                        <li class="hidden-xs">
                                            <div class="special">
                                                <a href="#">link</a>
                                            </div><!-- /.special-->
                                        </li>
                                    </ul>
                                </li>

                                <li >
                                    <a href="#">menu4 <i class="fa fa-chevron-down"></i></a>

                                    <ul class="sub-menu">
                                        <li><a href="#">link</a></li>
                                        </ul>
                                </li>

                                <li >
                                    <a href="#">menu5 <i class="fa fa-chevron-down"></i></a>

                                    <ul class="sub-menu">
                                        <li><a href="#">link</a></li>
                                        </ul>
                                </li>


                            </ul>


                        </div><!-- /.header-bottom -->
                    </div><!-- /.header-content -->
                </div><!-- /.header-inner -->
            </div><!-- /.container -->
        </div><!-- /.header-wrapper -->
    </header><!-- /.header -->
