{# LAYOUT A APPELER SUR CHAQUE PAGE #}
{% extends 'base.html.twig' %}

{% block header %}{% include 'default/header.html.twig' %}{% endblock %}
{% block body %}
    <div class="main">

                {% for message in app.flashes('danger') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
        <div class="main-inner">
            {% block content %}
                <div class="content">

                    {% block split_content %}
                        {% block leftside %}
                        {% endblock %}
                        {% block rightside %}
                        {% endblock %}
                    {% endblock %}
                </div><!-- /.content -->
            {% endblock %}
        </div><!-- /.main-inner -->
    </div><!-- /.main -->

{% endblock %}
{% block footer %}

    {% include 'default/footer.html.twig' %}
{% endblock %}


