{% extends 'default/layout.html.twig' %}
{% block header %}
    {% include 'admin/header.html.twig' %}
{% endblock %}
{% block body %}
    <div class="main">
        <div class="outer-admin">
            <div class="wrapper-admin">
                {% block leftside %}
                    {% include 'admin/nav_sidebar.html.twig' %}
                {% endblock %}
                <div class="content-admin">
                    <div class="content-admin-wrapper">
                        <div class="content-admin-main">
                            <div class="content-admin-main-inner">
                                <div class="container-fluid">
                                    <div class="row">
                                        {% block rightside %}


                                        {% endblock %}
                                    </div>
                                </div><!-- /.container-fluid -->
                            </div><!-- /.content-admin-main-inner -->
                        </div><!-- /.content-admin-main -->

                    </div><!-- /.content-admin-wrapper -->
                </div><!-- /.content-admin -->

            </div><!-- /.wrapper-admin -->
        </div><!-- /.outer-admin -->
    </div><!-- /.main -->
    </div><!-- /.page-wrapper -->

{% endblock %}
  {% block footer %}
      <div class="content-admin-footer">
          <div class="container-fluid">
              <div class="content-admin-footer-inner">
                  &copy; 2015 All rights reserved. Created by <a href="#">Aviators</a>.
              </div><!-- /.content-admin-footer-inner -->
          </div><!-- /.container-fluid -->
      </div><!-- /.content-admin-footer  -->
  {% endblock %}