{# header de l'administration #}
<header class="header header-minimal">
    <div class="header-wrapper">
        <div class="container-fluid">
            <div class="header-inner">
                <div class="header-logo">
                    <a href="{{ path('homepage') }}">
                        <img src="{{ asset("assets/img/logo.png") }}" alt="Logo">
                    </a>
                </div><!-- /.header-logo -->

                <div class="header-content">
                    <div class="header-bottom">

                    {% include "admin/nav.html.twig" %}


                    </div><!-- /.header-bottom -->
                </div><!-- /.header-content -->
            </div><!-- /.header-inner -->
        </div><!-- /.container -->
    </div><!-- /.header-wrapper -->

    <div class="header-statusbar">
        <div class="header-statusbar-inner">
            <div class="header-statusbar-left">
                <h1>Administration</h1>

                <div class="display-inline-block">
                    <div class="hidden-xs visible-lg">

                    </div>
                </div>
            </div><!-- /.header-statusbar-left -->


        </div><!-- /.header-statusbar-inner -->
    </div><!-- /.header-statusbar -->
</header><!-- /.header -->
