<div class="sidebar-secondary-admin">
    <ul>
        <li class="active">
            <a href="{{ path('admin') }}">
                <span class="icon"><i class="fa fa-tachometer"></i></span>
                <span class="title">Utilisateurs</span>
                <span class="subtitle">Gestion des utilisateurs</span>
            </a>
        </li>
        <li >
            <a href="{{ path('admin_services') }}">
                <span class="icon"><i class="fa fa-i-cursor"></i></span>
                <span class="title">Services</span>
                <span class="subtitle">Gestions des services</span>
            </a>
        </li>
    </ul>
</div><!-- /.sidebar-secondary-admin -->
