{# navigation secondaire de l'administration #}
<div class="sidebar-secondary-admin">
    <ul>
        <li
                {%  if 'admin_users' in app.request.attributes.get('_route') %}
            class="active"
                {% endif %}>
            <a href="{{ path('admin_users') }}">
                <span class="icon"><i class="fa fa-tachometer"></i></span>
                <span class="title">Utilisateurs</span>
                <span class="subtitle">Gestion des utilisateurs</span>
            </a>
        </li>
        <li
                {%  if 'admin_services' in app.request.attributes.get('_route') %}
            class="active"
                {% endif %}>
            <a href="{{ path('admin_services') }}">
                <span class="icon"><i class="fa fa-i-cursor"></i></span>
                <span class="title">Services</span>
                <span class="subtitle">Gestions des services</span>
            </a>
        </li><li
                {%  if 'admin_abuses' in app.request.attributes.get('_route') %}
            class="active"
                {% endif %}>
            <a href="{{ path('admin_abuses') }}">
                <span class="icon"><i class="fa fa-i-cursor"></i></span>
                <span class="title">Abus</span>
                <span class="subtitle">Gestions des abus</span>
            </a>
        </li>
    </ul>
</div><!-- /.sidebar-secondary-admin -->
