<div class="sidebar-secondary-admin">
    <ul>
        <li class="active">
            <a href="{{ path('admin') }}">
                <span class="icon"><i class="fa fa-tachometer"></i></span>
                <span class="title">Dashboard</span>
                <span class="subtitle">Manage your website</span>
            </a>
        </li>
    </ul>
</div><!-- /.sidebar-secondary-admin -->