{# mail de demande de création de service #}
<h1>Demande de création de service</h1>
<p>Bonjour super Admin !<br> Un nouveau service a été créé sur le site Annuaire-bien-être, cliquez sur le lien ci-dessous pour le controler et le valider </p>
<a href="http://localhost:8888{{ path('admin_services_update',{'id':service.id}) }}">Cliquez ici ! </a>

