<div class="cards-simple-wrapper">
    <div class="row">
        {% for p in providers|slice(0,8) %}
            <div class="col-sm-6 col-md-3">
                <div class="card-simple" data-background-image="{{ p.logo.url }}">
                    <div class="card-simple-background">

                        <div class="card-simple-content">
                            <h2><a href="#">{{ p.name }}</a></h2>


                            <div class="card-simple-actions">

                                <a href="#" class="fa fa-search"></a>

                            </div><!-- /.card-simple-actions -->
                        </div><!-- /.card-simple-content -->

                        <div class="card-simple-label">{{ p.locality.locality }}</div>

                    </div><!-- /.card-simple-background -->

                </div><!-- /.card-simple -->
            </div><!-- /.col-* -->
        {% endfor %}
    </div>
</div><!-- /.cards-simple-wrapper -->
