{% extends 'default/layout.html.twig' %}
{% block body %}
    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="content">

                    {% include 'home/home.html.twig' %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}


