{# LISTE DES PROVIDERS RESULTANT DU MODULE DE RECHERCHE #}
{% extends 'default/layout.html.twig' %}
{% block content %}
    <div class="container">

    <u><p>Résultat de la recherche</p></u>
    <h2> Liste de prestataires</h2>
                {% include 'providers/list.html.twig' %}
    </div>
{% endblock %}