{# formulaire pour signaler les abus #}
{% extends 'default/layout.html.twig' %}
{% block content %}

    <div class="container">
        <h3>Signaler un commentaire abusif</h3>

        <div class="contact-form-wrapper clearfix background-white p30">
            {{ form_start(abuseForm) }}
            <div class="row">


            </div><!-- /.row -->

            <div class="form-group">
                {{ form_row(abuseForm.description, {'label' : 'Description', 'attr': {'class':'form-control'}}) }}
            </div><!-- /.form-group -->

            {{ form_row(abuseForm._token) }}
            <button class="btn btn-primary pull-right">Post Message</button>
            </form><!-- /.contact-form -->
        </div><!-- /.contact-form-wrapper -->
    </div>
{% endblock %}