{% extends 'default/layout_update.html.twig' %}
 {% block leftside %}
     {% include 'default/nav_update.html.twig' %}
 {% endblock %}
{% block rightside %}


            <div class="page-title">
                <h1>
                    Veuillez choisir un
                    {% if (app.user.usertype == 'member') %}
                        avatar
                    {% else %}
                        logo
                    {% endif %}
                </h1>
            </div><!-- /.page-title -->


            {{ form_start(imgForm) }}
            <div class="form-group">

                {{ form_row(imgForm.file) }}

            </div><!-- /.form-group -->


            <button type="submit" class="btn btn-primary pull-right">Insérer</button>
            {{ form_end(imgForm) }}

{% endblock %}